{% load crispy_forms_tags %}
{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>RoadBrick</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{%static 'css/main.css'%}" type="text/css" media="all"/>
		<link href="{%static 'css/fonts.css'%}" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body id="top">

			<!-- Header -->
			<header id="header">
				<div class="inner">
				
				<a href="#" class="logo">RoadBrick</a>
					<nav id="nav">
						<a href="#whyus" class="smoothScroll">Why Us</a>
						<a href="#team" class="smoothScroll">Team</a>
						<a href="#contact" class="smoothScroll">Contact</a>
						<a href="#vision" class="smoothScroll">Vision</a>
						<a href="/post_load/">Post Load</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

			

			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
			
				<section id="banner" data-video="{%static 'images/1'%}">
					<div class="inner">
						<header>
							<h1>RoadBrick</h1>
							<p>A network of transporters in all over India who has local presence, <br />
							 connected through our servers.</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				
			
			<div id="main"><div id="whyus">
  <div id="featured-wrapper">
    <div id="featured" class="container1">
	
	<header>
						<h2>Why Us?</h2>
						<h5>RoadBrick works as a link between load provider and truck provider with a vision of transforming</h5><h5> the unorganized and fragmented transport business into an organized industry</h5> <h5>with the help of implementing modern Technology and IT</h5>
					</header>
      <div class="column1"> <span class="icon icon-check"></span>
        <div class="title">
          <h2>Verified Users</h2>
        </div>
        <p>Truck providers and load providers both are verified for their legitimacy by our Customer RelationshipTeam</p>
      </div>
      <div class="column2"> <span class="icon icon-lock"></span>
        <div class="title">
          <h2>Privacy</h2>
        </div>
        <p>We take your privacy very seriously </p>
      </div>
      <div class="column3"> <span class="icon icon-ok"></span>
        <div class="title">
          <h2>Quality Rating</h2>
        </div>
        <p>Rating is the measurement of quality. Load provider can rate to their truck provider on basis of their quality of service. Truck provider rate their load provider in the basis of ease of doing business with them.</p>
      </div>
      <div class="column4"> <span class="icon icon-money"></span>
        <div class="title">
          <h2>Charges</h2>
        </div>
        <p>No subscription Fee<br> 1% of freight value on successful deal</p>
      </div>
    </div>
  </div>
  </div>
  
 <!-- Two --><div id="team">
			<section id="two" class="wrapper style1 special">
			
				<div class="inner">
					<header>
						<h2>Our Team</h2>
						
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="{%static 'images/pic03.jpg'%}" alt="Person 1" />
								
							</div>
							<h3>Madhav</h3>
							<p>CEO</p><a href="https://www.facebook.com/vartmadhav?fref=ts"><span class="icon icon-facebook"></span></a>&nbsp;&nbsp;&nbsp
							<a href="mailto:madhavvart@gmail.com"><span class="icon icon-envelope"></span></a>&nbsp;&nbsp;&nbsp
							<a href="https://www.linkedin.com/in/madhavvart"><span class="icon icon-linkedin"></span></a>
							
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{%static 'images/pic04.png'%}" alt="Person 2" />
							</div>
							<h3>Varun</h3>
							<p>COO</p><a href="https://www.facebook.com/profile.php?id=100010252784856&fref=ts"><span class="icon icon-facebook"></span></a>&nbsp;&nbsp;&nbsp
							<a href="mailto:vkmmnnit@gmail.com"><span class="icon icon-envelope"></span></a>&nbsp;&nbsp;&nbsp
							<a href="https://in.linkedin.com/in/varun-maurya-ba7b2752"><span class="icon icon-linkedin"></span></a>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{%static 'images/pic05.png'%}" alt="Person 3" />
							</div>
							<h3>Sumanth</h3>
							<p>CTO</p><a href="https://www.facebook.com/sumanthkanakala.chamki"><span class="icon icon-facebook"></span></a>&nbsp;&nbsp;&nbsp
							<a href="mailto:kanakala.sumanth@gmail.com"><span class="icon icon-envelope"></span></a>&nbsp;&nbsp;&nbsp
							<a href="https://in.linkedin.com/in/sumanth-kanakala"><span class="icon icon-linkedin"></span></a>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{%static 'images/pic06.png'%}" alt="Person 4" />
							</div>
							<h3>Kiran</h3>
							<p>Designing Head</p><a href="https://www.facebook.com/profile.php?id=100003168770808&fref=ts"><span class="icon icon-facebook"></span></a>&nbsp;&nbsp;&nbsp
							<a href="mailto:Kk950268@gmail.com"><span class="icon icon-envelope"></span></a>&nbsp;&nbsp;&nbsp
							<a href="https://www.linkedin.com/in/kiran-kumar-870141a8"><span class="icon icon-linkedin"></span></a>
						</div>
					</div>
				</div>
				
			</section></div>
			
					<!-- Four --><div id="contact">
			<section id="four" class="wrapper style2 special">
			
				<div class="inner">
					<header class="major narrow">
						<h2>GET IN TOUCH</h2>
						
					</header><div class="container">
				<div class="row"><div class="col-md-3 col-sm-4">
					<form class="nomargin" method='POST' action="" enctype='multipart/form-data'>{% csrf_token %}
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
								{% render_field form.Name placeholder=form.Name.label class="form-control"%}
									
								</div>

								<div class="6u$ 12u$(xsmall)">
								{% render_field form.Email placeholder=form.Email.label class="form-control"%}
									
								</div>
								<div class="6u 12u$(xsmall)">
									{% render_field form.Phone placeholder=form.Phone.label class="form-control"%}
								</div>
								<div class="6u$ 12u$(xsmall)"><label for="exampleInputEmail1">
								{% render_field form.Provider placeholder=form.Provider.label class="form-control" list="provider_type"%}
									</label>
		 <datalist id="provider_type">
		 <select name ="provider_type">
		  <option value="Truck Provider">
		  <option value="Load Provider">
		  
		  </select>
		</datalist>
								</div>
								<div class="12u$">
								{% render_field form.Message placeholder=form.Message.label class="form-control" rows="4"%}
									
								</div>
							</div></div>
							
						</div>
						<div class="col-md-6 col-sm-12">
	
		<h4 class="orangecolor"><i class="fa fa-map-marker too-icon"></i>  Visit Office</h4>
		<p>Roadbrick Private Limited<br>
		Tapti Hostel - 421 <br>IIT Madras<br>Chennai,600036 <br></p>
		<h4 class="orangecolor" style="margin-top: 20px;">Reach Us</h4>
		<p style="margin: 0px;"><i class="fa fa-envelope-o too-icon"></i>  contact@roadbrick.com</p>
		<p><i class="fa fa-phone too-icon"></i>  +91-8979087869</p>
		
	</div></div>
							</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section></div>
			<!-- Footer -->
	<div id="vision">		
				<footer id="footer">
				
					<div class="inner">
						<h2>Vision</h2>
						<p>Our vision is to organize the cluttered freight business by bringing the fragmented truck providers under a single umbrella and making it efficient by implementing smart algorithms and Intelligent Transport Syatems (ITS) for analyzing and predecting supply and demand and routing trucks accordingly, stabllizing while providing advanced yet simplified and routing trucks according, stabllizing prices while providing advanced yet simplified end routing trucks accordingly,stablizing prices while providing advanced yet simplified end user experience. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="mail-to:madhavvart@roadbrick.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Copyright @ 2016 RoadBrick Pvt Ltd. All Right Reserved.</p>
					</div>
				</footer></div></div>

		<!-- Scripts -->
			<script src="{%static 'js/jquery.min.js'%}"></script>
			<script src="{%static 'js/jquery.scrolly.min.js'%}"></script>
			<script src="{%static 'js/jquery.poptrox.min.js'%}"></script>
			<script src="{%static 'js/skel.min.js'%}"></script>
			<script src="{%static 'js/util.js'%}"></script>
			<script src="{%static 'js/main.js'%}"></script>
			<script src="{%static 'js/smoothscroll.js'%}"></script>

	</body>
</html>